body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: gainsboro;
}

.form-sign {
    max-width: 300px;
    margin: 0 auto;
    font-size: 16px;
}
.form-sign .inputBox {
    position: relative;
    padding: 10px;
}