<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/sign.css}">
</head>
<body>
<div class="container">

    <form class="form-sign" method="post" action="/loginVerify">
        <h2>Please sign in</h2>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="inputBox" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="inputBox" placeholder="Password" required>
        </p>
        <button type="submit">Sign in</button>
        <p>Don't have an account yet? <a th:href="@{/registration}">Register</a></p>
    </form>
</div>
</body>
</html>