<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/sign.css}">
</head>
<body>
<div class="container">
    <form class="form-sign" th:action="@{/login}" method="post">
        <h2>Please Login in</h2>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" class="inputBox" required="true" autofocus="true">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" class="inputBox" required="true">
        </p>
        <input type="submit" value="Login">
        <p>Don't have an account yet? <a th:href="@{/registration}">Register</a></p>
    </form>
</div>
</body>
</html>