<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf_header" content="X-CSRF-TOKEN"/>
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/usual.css}">
</head>
<body>
<div class="container">
    <div id="topbar" class="top-bar">
        <p style="font-size:16px">Welcome:-) Let's see what everyone has shared today!</p>
    </div>
    <div id="main" class="main">
        <div id="side" class="side">
            <ul class="menu">
                <li><a th:href="@{/welcome}">Home Page</a></li>
                <li><a th:href="@{/newArticle}">New Article</a></li>
                <li><a th:href="@{/management}">Management</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
        <div id="content" class="content">
            <br>
            <table class="management-table" th:if="${articleList}">
                <tr>
                    <th>Post by</th>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Operation</th>
                </tr>

                <tr th:each="a:${articleList}">
                    <td th:text="${a.getUser().getUsername()}"></td>
                    <td th:text="${a.getTitle()}"></td>
                    <td th:if="${a.getBody().length()<=7}" th:text="${a.getBody()}"></td>
                    <td th:if="${a.getBody().length()>7}" th:text="${a.getBody().substring(0,8)}+'...'"></td>
                    <td>
                        <form th:action="@{/delete}" method="POST">
                            <input th:type="hidden" th:value="${a.getAid()}" name="aid">
                            <input type="submit" value="Delete"/>
                        </form>
                    </td>
                </tr>
            </table>
            <br>
        </div>
    </div>
</div>
</body>
</html>
