<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
    <link rel="stylesheet" th:href="@{/css/usual.css}">
</head>
<body>
<div id="topbar" class="top-bar">
    <p>Welcome:-) Let's see what everyone has shared today!</p>
</div>
<div id="main" class="main">
    <div id="side" class="side">
        <ul class="menu">
            <li><a th:href="@{/welcome}">Home Page</a></li>
            <li><a th:href="@{/newArticle}">New Article</a></li>
            <li><a th:href="@{/management}">Management</a></li>
            <li><a th:href="@{/login}">Log out</a></li>
        </ul>
    </div>
    <div id="content" class="content">
        <br><br>
        <table class="management-table">
            <tr>
                <th>Post by</th>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>Operation</th>
            </tr>
            <tr th:each="a:${articleList}">
                <td th:text="${a.getName().getName()}"></td>
                <td th:id="aid" th:text="${a.getAid()}"></td>
                <td th:text="${a.getTitle()}"></td>
                <td th:text="${a.getBody().substring(0,8)}+'...'"></td>
                <td>
                    <a th:href="@{/deleteArticle/{aid}(aid=${a.aid})}">Delete</a>
                </td>
            </tr>
        </table>
        <br><br>
    </div>
</div>
</body>
</html>