<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!--<title>Spring Boot Thymeleaf + Spring Security</title>-->
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="stylesheet" th:href="@{/css/sign.css}">
</head>
<body>

<div class="container">

  <!--Show this info message only if registered successfully-->
  <div class="alert alert-info" th:if="${successMessage}" th:utext="${successMessage}"></div>
  <form class="form-sign" autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" role="form">
    <h2>Register today:-)</h2>
    <p>
      <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger"></label>
      <label>Username</label>
      <input type="text" th:field="*{username}" placeholder="Username" class="inputBox"/>
    </p>

    <p>
      <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></label>
      <label>Password</label>
      <input type="password" th:field="*{password}" placeholder="Password" class="inputBox"/>
    </p>

    <button type="submit">Confirm</button>
    <p>Already have an account? <a th:href="@{/login}">Return</a></p>
  </form>

</div>


</body>
</html>