<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="sign.css">
</head>
<body>
<h1>Welcome!</h1>
<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
<div class="container">
    <form class="form-sign" method="post" action="/sign-up">
        <h2>Register your account today:-)</h2>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="inputBox" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="inputBox" placeholder="Password" required>
        </p>
        <button type="submit">Confirm</button>
    </form>
    <button th:href="@{/sign-in}">Cancel</button>
</div>
</body>
</html>